USE [master]
GO
/****** Object:  Database [CrudDB]    Script Date: 20-Oct-21 10:12:17 AM ******/
CREATE DATABASE [CrudDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CrudDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CrudDB.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CrudDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.MSSQLSERVER\MSSQL\DATA\CrudDB_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CrudDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CrudDB]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 20-Oct-21 10:12:18 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Address] [nvarchar](50) NULL,
	[Gender] [nvarchar](50) NULL,
	[City] [nvarchar](50) NULL,
	[Mobile] [nvarchar](50) NULL,
	[Image] [nvarchar](2000) NULL,
	[CreatedBy] [nvarchar](50) NULL,
	[CreatedDate] [datetime] NULL,
 CONSTRAINT [PK_Student] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Id], [Name], [Address], [Gender], [City], [Mobile], [Image], [CreatedBy], [CreatedDate]) VALUES (1, N'Sohil', N'60 Mohammadi Society Sukhbag Road Palanpur', N'Male', N'Palanpur', N'7405381264', N'20211020093039_hpsc10.jpg', N'Admin', CAST(N'2021-10-20 09:30:39.000' AS DateTime))
INSERT [dbo].[Student] ([Id], [Name], [Address], [Gender], [City], [Mobile], [Image], [CreatedBy], [CreatedDate]) VALUES (2, N'Parvin', N'Ambasan', N'Female', N'Mehsana', N'8733952790', N'20211020093211_100_7817.JPG', N'Admin', CAST(N'2021-10-20 09:32:11.000' AS DateTime))
INSERT [dbo].[Student] ([Id], [Name], [Address], [Gender], [City], [Mobile], [Image], [CreatedBy], [CreatedDate]) VALUES (3, N'Kalpesh Patel', N'Modera Chokadi', N'Male', N'Mehsana', N'8866233042', N'20211020093521_ANIS PHOTO.jpg', N'Admin', CAST(N'2021-10-20 09:35:22.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Student] OFF
USE [master]
GO
